

/*  import fonts from fonts.css file */
@import url(./fonts.css ); 

/* CSS Variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 15rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--comfortaa);
    /*text-transform: uppercase;*/
    padding: 1.7rem;
    color: var(--title-color);

}

.header_area .main-menu .navbar-nav .active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */

/* Banner Area */

.site-main .site-banner {
    background: url(../img/banner/home-banner2.jpg) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: #A9DFBF;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    color: #154360;
    font-size: 5rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img{
    padding: 7rem;
    width: 90rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal 49px/60px var(--comfortaa);
    letter-spacing: 15px;
}

.site-main .about-area .about-title .paragraph >p{
    padding: 2rem 0;
}

/* End About Area */

/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

/*.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
   
}*/

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--comfortaa);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--comfortaa);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}
.site-main .brand-area .experience-area .phone-area{
    color:#154360;
}

/* End Brand Area */ 

/* Services Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}



/* End Services Area */ 

/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 

/*  Emotions */

.site-main .emotion-area .h1{
    font-size: 1.5em;
    color: #154360;
}

form {
  margin-top: 2em;
}

.site-main .emotion-area .hide {
  position: absolute;
  left: -10000px;
  color: #154360; font-family: var(--comfortaa);
}

label {
  display: inline-block;
  background: gray;
  margin: 25px;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#happy ~ .option-happy {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}
#happy:checked ~ .option-happy {
  background: green;
}

#sad ~ .option-sad {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}
#sad:checked ~ .option-sad {
  background: red;
}

#meh ~ .option-meh {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto;
}
#meh:checked ~ .option-meh {
  background: orange;
}





/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--comfortaa);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* End Footer */ 

.striped-border { 
    border: 1px dashed #000; width: 50%; margin: auto; margin-top: 5%; margin-bottom: 5%; 
}


/* Skills */

.my-skills .my-technical-skills{
    padding-right: 60px;
    color: #154360;
}

.my-skills .my-technical-skills h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: var(--comfortaa);
}
.my-skills .my-professional-skills{
    padding-left: 20px;
    color: #154360;
}

.my-skills .my-professional-skills{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: var(--comfortaa);
}

.my-professional-progress li{
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}

.my-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1;
    color: #A9DFBF;
}

.my-progress .progressBar-text{
    color: inherit !important;
    font-family: var(--comfortaa);
}

.progress .progress-line{
    height: 10px;
    margin-right: 60px;
}

.progress .progress-line .progressBar-text{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    font-family: var(--comfortaa);
}

.my-progress .my-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.my-progress path:nth-child(1){
    stroke: rgba(0, 0, 0, 0.7);

}
.my-progress path:nth-child(2){
    stroke: #A9DFBF !important;
}

.candidatos{
    position: relative;

}